<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>User Management App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/list">User List</a></li>
        <li><a href="/users/add">Add User</a></li>
      </ul>
    </nav>
  </header>