<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>User Management App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="sidebar">
    <ul>
      <li><a href="/users">Home</a></li>
      <li><a href="/users/list">User List</a></li>
      <li><a href="/users/add">Add User</a></li>
    </ul>
  </div>
  <div class="content">
    <header>
      <div class="logo">Divya Saini</div>
      <!-- Add any additional header elements here -->
    </header>