<%- include('partials/header') %>
<h1>Dashboard</h1>
<p>Welcome to the dashboard! Here you can manage all user operations.</p>
<ul>
  <li><a href="/users/list">View User List</a></li>
  <li><a href="/users/add">Add New User</a></li>
</ul>
<%- include('partials/footer') %>