<%- include('partials/header') %>
<main>
  <div class="fade-in">
    <h1>Welcome to the User Management App</h1>
    <p>This application allows you to manage users by performing CRUD (Create, Read, Update, Delete)</p>
  </div>
</main>
<%- include('partials/footer') %>